<div
  class="canvas-node"
  style="transform: translate({{ left | default(0) }}px, {{ top | default(0) }}px)"
  id="lod-{{ lod.id }}"
  data-lod="{{ lod.id }}"
  data-x="{{ left | default(0) }}"
  data-y="{{ top | default(0) }}">
  <article class="canvas-node-content">
    <h1>{{ lod.title }}</h1>
    <p class="flex-1">{{ lod.description }}</p>
    <p>This is a node</p>
  </article>

  <div
    class="canvas-node-hook left-0 top-1/2"
    style="transform: translate(-10px, -8px)">
    <div class="rounded-s-full h-[16px]"></div>
  </div>
  <div
    class="canvas-node-hook right-0 top-1/2"
    style="transform: translate(+10px, -8px)">
    <div class="rounded-e-full h-[16px]"></div>
  </div>
  <div
    class="canvas-node-hook top-0 left-1/2"
    style="transform: translate(-8px, -10px)">
    <div class="rounded-t-full w-[16px]"></div>
  </div>
  <div
    class="canvas-node-hook bottom-0 left-1/2"
    style="transform: translate(-8px, 10px)">
    <div class="rounded-b-full w-[16px]"></div>
  </div>
</div>
