<script src="https://unpkg.com/htmx.org@2.0.4"></script>
<script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
<script src="{{ url_for('static', path='/js/index.js') }}"></script>

<script type="module">
    const position = {};

    function round(value, sensitivity) {
        return Math.round(value / sensitivity) * sensitivity;
    }

    // interact("#board-canvas").dropzone({
    //     ondrop: (event) => {
    //         event.target.appendChild(event.relatedTarget);
    //     },
    // });

    interact("#board-canvas > .card").draggable({
        listeners: {
            start(event) {
                const id = event.target.id;
                const style = event.target.style;
                position[id] = position[id] || {
                    x: parseInt(style.left) || 0,
                    y: parseInt(style.top) || 0,
                };
            },
            move(event) {
                const id = event.target.id;
                position[id].x += Math.round(event.dx);
                position[id].y += Math.round(event.dy);
                event.target.style.top = `${Math.max(0, position[id].y)}px`;
                event.target.style.left = `${Math.max(0, position[id].x)}px`;
            },
        },
    });
</script>
