<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{ title | default('app') }}</title>

    <style type="text/tailwindcss">
      #sidebar-search {
        @apply p-2 bg-slate-700;
      }

      #canvas {
        @apply bg-slate-900;
      }

      button {
        @apply p-1 border-2 bg-slate-500;
      }

      .canvas-node {
        @apply w-fit h-fit min-w-[80px] min-h-[80px];
        @apply rounded-lg border-2 bg-slate-500;
        @apply border-slate-300 hover:border-slate-400 active:border-slate-400;
        @apply touch-none select-none;
      }

      .canvas-node-content {
        @apply flex flex-col;
        @apply p-2 w-full h-full;
      }

      .canvas-node-hook {
        @apply absolute;
      }
      .canvas-node-hook > div {
        min-width: 8px;
        min-height: 8px;
        /* @apply invisible bg-slate-400; */
      }
      .canvas-node-hook:hover > div,
      .canvas-node-hook:active > div {
        @apply visible;
      }

      .canvas-edge {
        stroke: gray;
        stroke-width: 0.25rem;
        stroke-linecap: round;
      }
    </style>

    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>
  </head>

  <body
    class="font-sans w-screen h-screen flex border-4 divide-x-4"
    x-data="{show: {search: true}}">
    <aside
      id="sidebar-search"
      class="z-1 h-full flex flex-col"
      :class="show.search ? 'w-50' : ''">
      <header class="flex justify-end" x-on:click="show.search=!show.search">
        <i data-feather="chevrons-left" class="m-2" x-show="show.search"></i>
        <i data-feather="chevrons-right" class="m-2" x-show="!show.search"></i>
      </header>

      <button
        hx-get="/search"
        hx-swap="beforeend"
        hx-target="#search-results"
        hx-on::after-request="feather.replace()">
        Search
      </button>

      <section id="search-results" class="divide-y"></section>
    </aside>

    <main id="canvas" class="relative w-full h-full">
      <svg id="canvas-background" class="absolute w-full h-full">
        <pattern
          id="canvas-background-pattern"
          width="20"
          height="20"
          patternUnits="userSpaceOnUse"
          patternTransform="translate(-0.5, -0.5)">
          <circle cx="0.5" cy="0.5" r="0.5" fill="#90a1b9"></circle>
        </pattern>
        <rect
          width="100%"
          height="100%"
          transform="translate(10, 10)"
          fill="url(#canvas-background-pattern)"></rect>
      </svg>
      <svg id="canvas-edges" class="absolute w-full h-full"></svg>

      <div id="canvas-nodes-container" class="absolute w-full h-full p-[10px]">
        <section id="canvas-nodes" class="w-full h-full"></section>
      </div>
    </main>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js "></script>
    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>

    <script>
      feather.replace()
    </script>

    <script type="module">
      htmx
        .ajax("POST", "/node/1", {
          target: "#canvas-nodes",
          swap: "beforeend",
        })
        .then(() =>
          htmx.ajax("POST", "/node/2", {
            target: "#canvas-nodes",
            swap: "beforeend",
          })
        )

      const DEFAULT_PRECISION = 20
      const edges = htmx.find("#canvas-edges")
      const mods = interact.modifiers

      function round(v, precision = DEFAULT_PRECISION) {
        return Math.round(v / precision) * precision
      }

      /** Move or resize a Node */
      function updateNode(node, dx, dy, width, height) {
        const x = round(parseFloat(node.dataset.x || 0) + (dx || 0))
        const y = round(parseFloat(node.dataset.y || 0) + (dy || 0))
        const w = round(width)
        const h = round(height)

        Object.assign(node.dataset, { x, y })
        Object.assign(node.style, {
          width: `${w}px`,
          height: `${h}px`,
          transform: `translate(${x}px, ${y}px)`,
        })

        edges
          .querySelectorAll(`line[data-head='${node.id}']`)
          .forEach((line) => {
            line.setAttribute("x1", round(x + w / 2 + 8, DEFAULT_PRECISION / 2))
            line.setAttribute("y1", round(y + 9, DEFAULT_PRECISION / 2))
          })
        console.debug(x, y, w, h, DEFAULT_PRECISION)
      }

      function createEdge(node) {
        const line = document.createElementNS(
          "http://www.w3.org/2000/svg",
          "line"
        )
        const bbox = event.target.getBoundingClientRect()
        const x = round(bbox.x - edges.getBoundingClientRect().x + 8, 10)
        const y = round(bbox.y - edges.getBoundingClientRect().y + 8, 10)

        line.classList.add("canvas-edge")
        line.setAttribute("data-head", node.parentNode.id)
        line.setAttribute("x1", x)
        line.setAttribute("x2", x)
        line.setAttribute("y1", y)
        line.setAttribute("y2", y)

        edges.appendChild(line)
      }

      function updateEdgeTail(node, x, y, rounded = false) {
        const lines = edges.querySelectorAll(`line[data-head='${node.id}']`)
        const line = lines[lines.length - 1]
        x -= edges.getBoundingClientRect().x
        y -= edges.getBoundingClientRect().y

        if (rounded) {
          x = round(x, DEFAULT_PRECISION / 2)
          y = round(y, DEFAULT_PRECISION / 2)
        }

        line.setAttribute("x2", x)
        line.setAttribute("y2", y)
      }

      interact("#canvas-nodes .canvas-node")
        .draggable({
          modifiers: [
            interact.modifiers.snap({
              targets: [interact.snappers.grid({ x: 20, y: 20 })],
            }),
            mods.restrictRect({ restriction: "parent" }),
          ],
          listeners: {
            move: (e) =>
              updateNode(e.target, e.dx, e.dy, e.rect.width, e.rect.height),
          },
        })
        .resizable({
          edges: { left: true, right: true, bottom: true, top: true },
          ignoreFrom: ".canvas-node-hook",
          modifiers: [
            interact.modifiers.snap({
              targets: [interact.snappers.grid({ x: 20, y: 20 })],
            }),
            mods.restrictRect({ restriction: "parent" }),
          ],
          listeners: {
            move: (e) => {
              const { left, top } = e.deltaRect
              updateNode(e.target, left, top, e.rect.width, e.rect.height)
            },
          },
        })

      interact("#canvas-nodes .canvas-node-hook")
        .draggable({
          listeners: {
            start: (e) => createEdge(e.target),
            move: (e) =>
              updateEdgeTail(e.target.parentNode, e.clientX, e.clientY),
          },
        })
        .on("dragend", (e) =>
          updateEdgeTail(e.target.parentNode, e.clientX, e.clientY, true)
        )
        .dropzone({
          ondrop(event) {
            const head = event.relatedTarget.getAttribute("data-lod")
            const tail = event.target.getAttribute("data-lod")
            const line = document.querySelector(`line[data-head="${head}"]`)

            line.setAttribute("data-tail", tail)
          },
        })
    </script>
  </body>
</html>
