<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title | default('app') }}</title>
        <link
            rel="stylesheet"
            href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/css/main.css') }}"
        />
    </head>
    <body class="white tc sans-serif">
        <main id="main" class="w-100 pa2">
            <h1>Hello World!</h1>

            <button
                hx-post="/add-row"
                hx-swap="beforeend"
                hx-target="#board-search"
                class="ma2"
            >
                Add card
            </button>

            <section id="board" class="w-100 flex flex-row">
                <section id="board-search" class="ba pa2 w-third"></section>

                <section
                    id="board-canvas"
                    class="relative ba w-100 bg-black"
                    style="flex-grow 1; min-height: 500px"
                ></section>
            </section>
        </main>
        {% include '_libraries.j2.html' %}
    </body>
</html>
