<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title | default('app') }}</title>
        <link
            rel="stylesheet"
            href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/css/main.css') }}"
        />
    </head>
    <body class="white tc sans-serif">
        <main id="main">
            <h1>Hello World!</h1>

            <section
                id="card-list"
                class="flex flex-wrap justify-center items-center w-100"
            ></section>

            <button
                hx-post="/add-card"
                hx-swap="beforeend"
                hx-target="#card-list"
            >
                Add card
            </button>
        </main>
        {% include '_libraries.j2.html' %}
    </body>
</html>
